.App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  color: white;
}

.App-link {
  color: #61dafb;
}

.column {
  display: inline;
  float: left;
  /* display: grid; */
  width: 50%;
  background-color: white;
  color: black;
  grid-template-columns: 50% 50%;
}
/* 
.columnLeft {
  grid-column: 1;
  grid-row: 1;
}
.columnRight {
  grid-column: 2;
  grid-row: 1;
} */