.navBar {
    box-shadow:-2px 0 15px 0 rgba(0,0,0,0.7);
    background-color: white;
    text-align: center;
    top: 0;
    margin-bottom: 10px;
    height: 10%;
    width: 100%;
    padding: 20px;
}